.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5em;
    padding: 20px 0;
}

.links {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    a {
        text-transform: none;
    }
}

.social {
    display: flex;
    justify-content: center;

    a{
        margin: 10px;
    }
}

.copy {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}